.admin-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -6vh;
}

.JorgeAdm{
    width: 25vh;
    position: relative;

}

.Section-adm{
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}