html{
    padding: 0;
    margin: 0;
}
  h1, h2, h5 {
    font-family: 'DM Serif Display', serif;
  }
  
  p, h3 {
    font-family: 'Jost', sans-serif;
  }


.first-stape{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #C8A75A;
    padding: 1rem;
}

.form_landing{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.first-title-landing, .second-title-landing, .second-text-landing{
    color:#25357a;
    font-size: 1.8rem;
}

.first-text-landing, .article-span{
    color:#E9EAF1;
    font-size: 1.5rem;
}

.second-text-landing{
    text-align: center;
    font-size: 2.3rem;
}

.section-assignment{
    background-color: #25357a;
    color: white;
    height: 15vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.pinedaImage{
    width: 100%;
}

.landing-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #25357a;
    color: #E9EAF1;
}

.title_landing-contact{
    font-size: 2.3rem;
    padding-top: 4%;
}

.phone_landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90%;
    color:#C8A75A;
}

.phone_icon{
 width: 1.5rem;
}

.phoneNumber{
    font-size: 1.5rem;
    font-weight: 600;
    padding: 1%;
}
.phoneNumber:hover{
    color:#C8A75A !important;
}


.Figure-text-landing{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.2rem;
    color:#C8A75A;
    padding-bottom: 6%;
}

.talent{
    background-color: #C8A75A;
    height: 60vh;
    margin: 0;
}

.figureAdvisory{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E9EAF1;
    width: 40vh;
    height: 50vh;
    margin-top: 10%;
    border-radius: 0 15vh 0 0;
}

.text_first-stape{
    color: #E9EAF1;
}

.jorge-5{
    margin-top: 1.7rem;
    width:45vh;
}

.arowsImg{
    background-color: #C8A75A;
}

.phoneContact{
    background-color: #25357a;
}

.steps-title{
    display: none;
}

.steps-landing{
    width: 100vw;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    font-weight: 800;
}

.landing-map{
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color:#C8A75A;
    margin-top: 4%;

}

.arrow{
    width: 5rem;;
    margin: 1rem;
}

.text-landing-map1{
    margin-top: 0.5rem;
    text-align: start;
}
.text-landing-map2{
    margin-top: 0.5rem;
    text-align: end;
}
.text-landing-map3{
    text-align: start;
    margin-top: 4%;
}

.road-map{
    background-color: #C8A75A;
    
}

.arowsImg{
    background-color: #E9EAF1;
}

.time-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E9EAF1;

}

.btn-time-btn{
    padding: 6%;
    background-color:#25357a;
    border: 0;
    width: 30vh;
    height: 7vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.btn-time :hover {
    background-color: #C8A75A;
    color: #25357a;
}

.btn-start-landing{
    background-color:#25357a;
    border: 0;
    width: 30vh;
    height: 7vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 8%;
    margin-bottom: 12%;
    }

    .btn-start-landing:hover{
        background-color:#C8A75A;
        color:#25357a;
    }
    
    .btn-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9%;
    width: 6vh;
    height: 4vh;
    border-radius: 10vh 10vh 10vh 10vh;
    border: 0;
    color: #C8A75A;
    }


.pay-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #25357a;
    background-color: #E9EAF1;
    padding: 5vh 5vh 0 ;
}

.span-landing{
    font-weight: bolder;
}

.pay-title{
    color: #C8A75A;
    font-size: 2.3rem;
    padding-bottom: 4%;
}

@media (width >= 380px){
    .jorge-5{
        width: 45.5vh;
    }
    .figure{
        width: 50vh;
        margin-top: -4vh;
    }
    .Figure-text-landing{
        width: 50vh;
    }
}


@media (width >= 750px){

    .first-stape{
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: #C8A75A;
    }
    .section-assignment p{
        font-size: 2rem;
    }
    .section-assignment{
        width: 100%;
    }
    .first-title-landing, .second-title-landing, .second-text-landing{
        font-size: 2.2rem;
    }
    .first-text-landing, .article-span{
        font-size: 2.2rem !important;
    }

    .landing-contact{
        font-size: 2rem;
        width: 100vw;
    }

    .title_landing-contact{
        font-size: 2.5rem;
        margin-left: 3rem;
        padding-top: 4%;
    }

    .phone_landing{
        margin-left: 2rem;
    }

    .phone_icon{
        width: 3rem;
    }

    .phoneNumber{
        font-size: 2rem;
        padding-left: 2%;
    }

    .talent{
        height: 80vh;
    }

    .phoneContact{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .jorge-5{
        width: 45vh;
        margin-top: 2.5rem;
    }

    .figureAdvisory{
        height: 50vh;
        width: 45vh;
        margin-left: 8%;
    }

    .Figure-text-landing{
        width: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-weight: 600;
        font-size: 1.5rem;
        padding: 2%;
    }


    .steps-landing{
        padding:3rem 0;
        margin-top: -2%;
    }

    .landing-map{
        max-width: 75vw;
        font-weight:bolder;
        font-size: 1.5rem;
    }

    .arrow{
        width: 15vw;
    }

    .img_time{
        width: 70vw;
    }
    .btn-time-btn{
        width: 40vh;
        height: 8vh;
        border-radius: 10px;
        font-size: 1.5rem;
    }

    .pay-title{
        font-size: 3rem;
    }
    .adviser-form-landing{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #E9EAF1;
    }
}



@media (width >= 1100px){

.form_landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #E9EAF1;

}
.adviser-form-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frame-youtube iframe{
    height:93vh;
}

.section-assignment{
    width: 50vw;
    height: 8vh;
}

.first-stape{
    display: none;
}

.jorge-5{
    width: 50vh;
    margin-top: 2.6rem;
}
.figureAdvisory{
    margin-top: 4rem;
    height: 55vh;
}

.title_landing-contact{
    font-size: 2.5rem;
}

.talent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vh;
    height: 60vh;
    padding-top: 0;
    background-color: #C8A75A;
}

.figure{
    width: 30vw;
    margin-left: 0;
    margin-top: 0;
}

.phoneContact{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 3%;
}
.landing-contact{
    font-size: 2rem;
    width: 52.8%;
}
.Figure-text-landing{
display: none;
}

.phone_landing{
    margin-left: 3rem;
}

.text-landing{
    font-size: 1.4rem;
}

.arowsImg{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.time_landing{
    width: 50%;
}
.img_time{
    width: 60vh;

}

.pay-landing{
    padding: 0 45px;
    line-height: 1.5rem;
    width: 60%;
}

.btn-time-btn{
    width: 15vW;
    height: 8vh;
    border-radius: 10px;
    font-size: 1.5rem;
}

.steps-title{
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #25357a;
    background-color: #C8A75A;
}

.steps-landing{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing-map{
    width: 40vw;
    font-size: 1.5rem;
}

.pinedaFooter{
    width: 100%;
}
.cookiesFooter{
    width: 100%;
}
.contact_footer{
    width: 100%;
}
.frame-youtube{
    width: 100%;
}
.navbarHome .navbar .navbar-expand-lg .navbar-light{
    width: 100%;
}
.btn-start{
    margin:50px;
}

.figure{
    width: 60vh;
}
.Figure-text-landing{
    width: 60vh;
}

}

@media (width >= 1500px){

    .arowsImg{
        justify-content: center;
    }
    .img_time{
        width: 60vh;
    }

    .jorge-5{
        width: 50vh;
        margin-top: 3rem;
    }

    .title_landing-contact{
        margin-left: 6rem;
    }
    .phone_landing{
        margin-left: 4rem;

    }

    .pay-landing{
        width: 75%;
    }
}