.articleJoinUp{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #E9EAF1;
    padding-top: 5vh;
}

.JoinUp_text{
    padding: 2rem;
}

.HighlightedText {
    color: #25357a;
    font-size: 1.2em; 
    font-weight: bold; 
}

.NumbersJoinUp{
    font-size: 3.4rem;
    color: #25357a;
    margin-top: 4vh;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #C8A75A;
    margin: 20px 0;
}

.textJoinUp{
    color: #C8A75A;
}

.JorgeJoinUp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.jorge7{
    width: 50vw;
    padding: 0;
    margin: 0;
}

.JoinUp_callToAction{
    font-size: 1.3rem;
    padding: 10%;
    margin-top: -30%;
    margin-left: -60%;
}
.btn_JU{
    margin-top: 20%;
    margin-left: -5%;
}

@media (width >= 750px){
.JoinUp_callToAction{
    font-size: 1.6rem;
    margin-top: -3rem;
    margin-left: -7rem;
    margin-right: 3rem;
}
.jorge7{
    width: 35vh;
    padding: 0;
    margin: 0;
}
.btn_JU{
    margin-top: 3rem;
    margin-left: 5rem;
    }

    .NumbersJoinUp{
        font-size: 6rem;
        margin-top: 4vh;
    }

    .textJoinUp{
        color: #C8A75A;
        font-size: 2rem;
    }
    
    .JoinUp_callToAction{
        font-size: 1.8rem;
        margin-top: -3rem;
        margin-left: -7rem;
        margin-right: 3rem;
    }
    .btn_JU{
        margin-top: 4vh;
        margin-left: 5vh;
    }
}


