
.inputInfoAdviser{
    padding: 0.5rem 2rem;
    background-color: #E9EAF1;
}

.adviserForm{
    padding-top: 2rem;
    background-color: #E9EAF1;
    padding-bottom: 7%;
}

.inputInfoAdviser input {
    border: 1px solid #25357a;
}


#controlProfessionAdviser, #controlEmailsAdviser, #controlEmailConfirmationAdviser, #controlProfessionAdviser, #controlNationalityAdviser, #controlCountryAdviser{
    height: 3rem;
}

#controlQuestion{
    height: 20vh;
}

.btn-added{
    background-color: #25357a ;
    border: 0;
    width: 20vh;
    height: 7.5vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.btn-added:hover{
    background-color: #C8A75A;
    color: #25357a;
}

.adviserBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

@media (width >= 750px){
    .adviserForm{
        padding: 5rem 10rem;
    }
    .inputInfoAdviser{
        padding: 0.5rem;
    }
}

@media (width >= 1000px){
    .adviserForm{
        order:2;
        width: 100vw;
        padding: 5rem 5rem 1rem 5rem;
    }
    .inputInfoAdviser{
        padding: 0.5rem;
        background-color: #E9EAF1;
    }
    #controlProfessionAdviser, #controlEmailsAdviser, #controlEmailConfirmationAdviser, #controlProfessionAdviser, #controlNationalityAdviser, #controlCountryAdviser{
        height: 5rem;
    }
    
}