.btn-BigAdvisory{
    background-color: #C8A75A;
    border: 0;
    width: 35vh;
    height: 7vh;
    border-radius: 10px;
    color: #25357a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
}

.arrow-btn2{
    margin-left: 2vh;
}

.btn-BigAdvisory:hover{
background-color: #757ea7;
color: white;
}

@media (width >= 750px) {
    .btn-BigAdvisory{
        width: 50vh;
        font-size: 1.6rem;
    }

    .arrow-btn2{
        width: 1.5em;
        margin-left: 2vh;
    }

}
