.instagramFeed_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #25357a;
}
.instagramFeed_section_Title{
    margin: 5vh 0;
    color: white;
    text-align: center;
}