.admin-dashboard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -6vh;
}

.JorgeAdm{
    width: 40vh;
    margin-right: 5em;
    position: relative;
}
.welcome_title{
    color: #25357a;
    margin-left: 5%;
}

.Section-adm{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
}