.ServiceSuccessYt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.firstArticleTranslationSuccesStorie, .firstArticleTranslationSuccesStorieIg{
    text-align: center;
    font-size: 2.2rem;
    margin-top: 3rem;
    padding: 4%;
    color: #c8a75a;
}
.name_video_succesStories{
    font-weight: bold;
    font-size: 1.5rem;
    color: #25357a;
}
.descriptionSuccessStories{
    padding-bottom: 1em;
    font-size: 1.3rem;
    line-height: 2rem;
}
.imgCase{
    width: 25vh;
}

@media (width >=750px){
    .divVideoSuccessStories iframe {
        margin-top: 3%;
        width: 100%;
    }
    .ServiceSuccessYt{
        background-color: #e9eaf1;
        padding: 0;
    }

}

@media (width >= 1100px) {
    .divVideoSuccessStories{
        width: 50%;
    }
    .divVideoSuccessStoriesIg{
        width: 70vh;
    }
    .imgCase{
        width: 35vh;
    }
    .ServiceSuccessYt{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .firstArticleTranslationSuccesStorie, .firstArticleTranslationSuccesStorieIg{
        width: 80vh;
    }
    
}
