.mediaLogo{
    display: flex;
}

.btn-nav{
    font-size: 0.8rem;
    border-radius: 10px;
    width: 23vh;
    margin-right: 2vh;
}

.LogoPaberater{
    width: 14vh;
}

.navbarHome{
    display: flex;
    
}

.NavContainer{
    background-color: #25357a;
    border-radius: 20px;
    width: 50%;
    justify-content: space-between;
}