.mediaLogo{
    display: flex;
}
.socialMediaLogo{

}

.btn-nav{
    font-size: 1rem;
    border-radius: 10px;
    width: 30vh
}

.LogoPaberater{
    width: 20vh;
}

.navbarHome{
    display: flex;
}

.NavContainer{
    background-color: #25357a;
    border-radius: 20px;
}