
.inputInfoAdviser{
    padding: 0.5rem 2rem;
    color: #a3a3a3;
    background-color: #E9EAF1;
    border: 0;
}

.adviserForm{
    background-color: #E9EAF1;
    padding-bottom: 7%;
    color:#a3a3a3;
}


#controlNamesAdviser, #controlEmailsAdviser, #controlEmailConfirmationAdviser, #controlProfessionAdviser, #controlNationalityAdviser, #controlCountryAdviser{
    height: 3rem;
    color:#a3a3a3;
}

#controlQuestionadviser{
    height: 20vh;
    color:#a3a3a3;

}
#controlNationalityAdviser, #controlProfessionAdviser, #controlCountryAdviser {
    border:0;
    padding: 0.5rem 2rem;
    color:#a3a3a3;
    
}


.btn-added{
    background-color: #25357a ;
    border: 0;
    width: 20vh;
    height: 7.5vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

.btn-added:hover{
    background-color: #C8A75A;
    color: #25357a;
}

.adviserBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

@media (width >= 750px){

    .adviserForm{
        padding-top: 3%;
    }

    .inputInfoAdviser{
        padding: 0.5rem;
    }
    
    .btn-added{
        width: 30vh;
        height: 6vh;
        font-size: 1.2rem;
    }

}

@media (width >= 1000px){
    .adviserForm{
        order:2;
        width: 70vh;
        height: 50vh;
    }
    .inputInfoAdviser{
        background-color: #E9EAF1;
    }

    #controlProfessionAdviser, #controlEmailsAdviser, #controlEmailConfirmationAdviser, #controlProfessionAdviser, #controlNationalityAdviser, #controlCountryAdviser{
        height: 3rem;
    }
    
}