* {
    margin: 0;
    padding: 0;
}

h1,
h2 {
    font-family: 'DM Serif Display', serif;
}

p,
h3 {
    font-family: 'Jost', sans-serif;
}

svg {
    padding: 0;
    margin: 0;
}
.contact_section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.banner_contact_img {
    width: 45vh;
    height: 70vh;
    border-radius: 0 15vh 0 15vh;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

.figure_contact{
    background-color: #25357ad0;
    color: #C8A75A;
    width: 45vh;
    height: 15vh;
    border-radius: 4vh 0 4vh 0;
    position:absolute;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title_img_contact {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 2.5rem;
}
.Contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
    height: 100vh;
    padding-left: 2em;
    background-color:#E9EAF1;
}
.info_contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3em;
    margin-bottom: 3%;
    
}
.contact-div{
    display: flex;
    align-items: center;
    justify-content: left;
    height: 6vh;
    width: 100%;
    margin-bottom: 4%;
}
.icons_contact{
    width: 40px;
    height: 40px;
}
.text_info_contact{
    padding-left: 1em;
    font-size: 1.2rem;
    color:  #25357ad0;
}

.Map{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 50vh;
    width: 100%;
    padding-left: 1em;
}

.paberater-map{
    width: 80%;
    height: 90vh;
}


@media (width >=390px){
    .banner_contact_img {
        margin-top: 2vh;
    }
    .Map{
        height: 65vh;
    }
}


@media (width >=750px){
    .banner_contact_img {
        width: 50vh;
        height: 75vh;
        border-radius: 0 15vh 0 15vh;
        margin-bottom: 2vh;
        margin-top: 4vh;
    }
    .figure_contact{
        width: 50vh;
    }
    .title_img_contact {
        font-size: 4rem;
        margin-top: 2%;
    }

    .Contact{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 35vh;
    margin-left: 0;
    padding-left: 4em;
    padding-bottom: 1em;
}
.info_contact{
    justify-content: space-between;
    width: 70%;
    margin-top: 1em;
}
.contact-div{
    justify-content: left;
    height: 8vh;
    width: 90%;
}
.text_info_contact{
    font-size: 1.5rem;
}

.Map{
    justify-content: center;
    height: 33vh;
}
}




@media (width >=1200px){

    .contact_section{
        flex-direction: row;
        justify-content: right;
        background-color: #25357a;
        height: 75vh;
    }
    .banner_contact_img {
        height: 75vh;
        width: 55vh;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 8rem;
    }
    .figure_contact{
        background-color:#25357a;
        color: #c8a75a;
        width: 60vh;
        height: 15vh;
        border-radius:0;
        position: absolute;
        margin-top: 0;
        margin-right: 40rem;
    }
    .title_img_contact {
        font-size: 5rem;
        text-align: center;
        margin-top: 0rem;
    }

    .Contact{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 65vh;
    margin-left: 0;
    padding-left: 4em;
    padding-bottom: 1em;
    padding-top: 2em;

}
.info_contact{
    justify-content: center;
    width: 70%;
    margin-top: 1em;
}
.contact-div{
    justify-content: left;
    height: 8vh;
    width: 90%;
}
.text_info_contact{
    font-size: 1.5rem;
}

.Map{
    justify-content: center;
    height: 45vh;
    margin-top: 5%;
}
}



@media (width >=1600px){

    .contact_section{
        height: 79.5vh;
    }
    .banner_contact_img {
        height: 71vh;
        width: 45vh;
        margin-top: 5rem;
        margin-right: 20rem;
    }
    .figure_contact{
        height: 15vh;
        margin-right: 60rem;
    }
    .Contact{
        height: 70vh;
        padding-top: 5em;
    }
}