.questionsTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5vh;
    background-color:#C8A75A;
}

.questionForm{
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    padding: 7%;
    color: #a3a3a3;
    background-color: #E9EAF1;
}

.form-check-section{
    padding-left: 5%;
}

.inputInfo{
    padding: 3%;
    color: #919292;
}

.titleQuestion{
    color: #25357a;
    font-size: 2rem;
}

.question_subtitle {
    color:  #25357a;
    font-size: 1.5rem;
}

#controlProfession.form-select{
    margin-left: 0;
    padding-left: 1rem;
    width: 99.5%;
}

#controlNames, #controlEmails, #controlEmailConfirmation, #controlProfession {
    height: 5vh;
}

#controlQuestion{
    height: 20vh;
    border: 0;
}

.adviserBtn{
    margin-top: 4%;
    }



@media (width >= 750px){
    .questionForm{
        padding: 8%;
    }
    .question_subtitle {
        color:white;
        font-size: 2rem;
    }
    #controlProfession.form-select{
        margin-left: 0;
        width: 99.5%;
    }
    
    #controlNames, #controlEmails, #controlEmailConfirmation, #controlProfession {
        height: 5vh;
    }


    .inputInfo{
        padding: 2%;
    }

    .inputInfo input {
        margin-right: 2%;
      }

    .adviserBtn{
    margin-top: 4%;
    }
}

@media (width >= 1200px) {
   .questionsTitle {
    display: none;
   }
    .questionForm{
        padding: 10%;
        padding-top: 5%;
        height: 97vh;
    }

}