.containerList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newslist_title{
    color: #25357a;
    font-size: 3rem;
    padding: 1em;

}

.listNews{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.NewsInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.NewsItems{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: #E9EAF1;
    color: #25357a;
    width: 25rem;
    height: 30vh;
    padding: 3vh;
    margin-bottom: 5%;
}

.titleNewslist{
    margin-left: 3vh;
}

.Btns-list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3vh;
    width: 90%;
}

.Btn-delete{
    background-color: #7a2525;
    color:#E9EAF1;
    width: 10vh;
    height: 5vh;
    border: 0;
    border-radius: 10px;
}

.Btn-edit{
    background-color: #25357a;
    color:#E9EAF1;
    width: 10vh;
    height: 5vh;
    border: 0;
    border-radius: 10px;
}