.first-stape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C8A75A;
    padding: 3%;

}

.frame-youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-title-landing, .second-title-landing, .second-text-landing{
    color: #25357a;
    font-size: 4vh;
    line-height: 3vh;
}

.first-text-landing, .article-span{
    color: white;
    font-size: 3vh;

}

.section-assignment{
    background-color: #25357a;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.landing-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    font-size: 1.5rem;
    color: #25357a;
    background-color: #C8A75A;
}

.phoneNumber{
    font-size: 2rem;

}

.jorge5{
    width: 37vh;

}

.Figure-text-landing{
    background-color: #25357a;
    color: white;
    width: 40vh;
    height: 9vh;
    text-align: center;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 2%
}

.steps-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.landing-map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    color: #25357a;
}

.arrow1, .arrow2{
    margin-top: 5vh;
    
}

.landing-map2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vh;
    color: #25357a;
    width: 25vh;
}

.text-landing-map2{
    margin-left: 4vh;
}

.landing-map3{
    display: flex;
    align-items: center;
    width: 25vh;
    margin-top: 3vh;
    margin-left: -10vh;
    color: #25357a;
}

.road-map{
    background-color: #C8A75A;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.time-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-start{
    background-color: #25357a ;
    border: 0;
    width: 70%;
    height: 7.5vh;
    border-radius: 10px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 5vh;
}

.pay-landing{
    background-color: #E9EAF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #25357a;
    padding: 5vh 5vh 0 ;
}

.span-landing{
    font-weight: bolder;
}

.pay-title{
    color: #C8A75A;
    font-size: 2.5rem;
    padding: 2vh;
}