
  h1, h2 {
    font-family: 'DM Serif Display', serif;
  }
  
  p, h3 {
    font-family: 'Jost', sans-serif;
  }



@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 3)
{

.first-stape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C8A75A;
    padding: 3%;

}

.frame-youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-title-landing, .second-title-landing, .second-text-landing{
    color: #25357a;
    font-size: 4vh;
    line-height: 4vh;
}

.first-text-landing, .article-span{
    color: white;
    font-size: 4vh;

}

.section-assignment{
    background-color: #25357a;
    color: white;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.landing-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    font-size: 1.6rem;
    color: #25357a;
    background-color: #C8A75A;
}

.phoneNumber{
    font-size: 1.7rem;
    font-weight: 600;
}
.phoneNumber :hover{
    color: #25357a;
}

.jorge5{
    width: 43vh;

}

.Figure-text-landing{
    background-color: #25357a;
    color: white;
    width: 43vh;
    height: 9vh;
    text-align: center;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 2%
}

.steps-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.landing-map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    color: #25357a;
}

.arrow1, .arrow2{
    margin-top: 5vh;
    
}

.landing-map2{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vh;
    color: #25357a;
    width: 25vh;
}

.text-landing-map2{
    margin-left: 4vh;
}

.landing-map3{
    display: flex;
    align-items: center;
    width: 25vh;
    margin-top: 3vh;
    margin-left: -10vh;
    color: #25357a;
}

.road-map{
    background-color: #C8A75A;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.time-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn_time{
    padding: 6%;
}

.btn-start{
    background-color:#25357a;
    border: 0;
    width: 30vh;
    height: 7vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10%;
    }
    
    .btn-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9%;
    width: 6vh;
    height: 4vh;
    border-radius: 10vh 10vh 10vh 10vh;
    border: 0;
    color: #C8A75A;
    }


.pay-landing{
    background-color: #E9EAF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #25357a;
    padding: 5vh 5vh 0 ;
}

.span-landing{
    font-weight: bolder;
}

.pay-title{
    color: #C8A75A;
    font-size: 2.5rem;
    padding: 2vh;
}

}