
  h1, h2 {
    font-family: 'DM Serif Display', serif;
  }
  
  p, h3 {
    font-family: 'Jost', sans-serif;
  }



@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 3)
{

.first-stape{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C8A75A;
    padding: 3%;
}

.frame-youtube{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.first-title-landing, .second-title-landing, .second-text-landing{
    color: #25357a;
    font-size: 2rem;
    line-height: 4vh;
}

.first-text-landing, .article-span{
    color: white;
    font-size: 1.5rem;
}

.section-assignment{
    background-color: #25357a;
    color: white;
    height: 15vh;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.landing-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
    font-size: 1.6rem;
    color: #25357a;
    background-color: #C8A75A;
}

.phone_landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.phoneNumber{
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1%;
}
.phoneNumber :hover{
    color: #25357a;
}

.jorge5{
    width: 43vh;

}

.Figure-text-landing{
    background-color: #25357a;
    color: white;
    width: 43vh;
    height: 9vh;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    padding: 2%
}

.steps-landing{
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 7vh;
    margin-bottom: 7vh;
}

.landing-map{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vh;
    color: #25357a;
    margin-left: 13vh;
}


.arrow1{
    margin-top: 4vh;
    margin-right: 2vh;
    margin-left: 3vh;
}

.arrow2{
    margin-top: 5vh;
    margin-right: 3vh;
    margin-left: -4vh;
}

.landing-map2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 16vh;
    color: #25357a;
    width: 40vh;
}

.landing-map3{
    display: flex;
    align-items: center;
    width: 25vh;
    margin-top: 3vh;
    margin-left: 9vh;
    color: #25357a;
}


.road-map{
    background-color: #C8A75A;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.time-landing{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-time-btn{
    padding: 6%;
    background-color:#25357a;
    border: 0;
    width: 30vh;
    height: 7vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 4vh;
    margin-bottom: 4vh;
}

.btn-time :hover {
    background-color: #C8A75A;
    color: #25357a;
}

.btn-start{
    background-color:#25357a;
    border: 0;
    width: 30vh;
    height: 7vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10%;
    }
    
    .btn-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 9%;
    width: 6vh;
    height: 4vh;
    border-radius: 10vh 10vh 10vh 10vh;
    border: 0;
    color: #C8A75A;
    }


.pay-landing{
    background-color: #E9EAF1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #25357a;
    padding: 5vh 5vh 0 ;
}

.span-landing{
    font-weight: bolder;
}

.pay-title{
    color: #C8A75A;
    font-size: 2.3rem;
    padding: 2vh;
}
}

@media (width >= 750px){

    .first-stape{
        display: flex;
        flex-direction: column;
        background-color: #C8A75A;
        padding: 3%;
    }
    .section-assignment p{
        font-size: 2.5rem;
    }
    .first-title-landing, .second-title-landing, .second-text-landing{
        font-size: 3rem;
        line-height: 3vh;
    }
    .first-text-landing, .article-span{
        font-size: 2rem;
    }
    .landing-contact{
        padding: 3%;
        font-size: 2rem;
    }
    .phoneNumber{
        font-size: 2rem;
        padding-left: 2%;
    }
    .jorge5{
        width: 60vh;
    }
    .Figure-text-landing{
        width: 60vh;
        height: 14vh;
        text-align: center;
        font-weight: 600;
        font-size: 1.2rem;
        padding: 2%;
    }
    .text-landing{
        margin-top: 2%;
    }
    .steps-landing{
        width: 90vh;
        justify-content: center;
        margin: 2%;
        margin-top: 6%;
        margin-bottom: 6%;
        padding: 2%;
    }

    .landing-map{
        width: 70vw;
        font-size: 2rem;
        margin-left:0;
        margin-bottom: 4%;
    }

    .arrow1{
        width: 20vw;
        margin-top: 4vh;
    }

    .landing-map2{
        width: 70vw;
        margin-left: 10vh;
        font-size: 2rem;
        margin-bottom: 4%;

    }

    .arrow2{
        width: 20vw;
        margin-top: 4vh;
    }

    .landing-map3{
        width: 70vw;
        margin-left: 0vw;
        font-size: 2rem;
    }

    .img_time{
        width: 70vh;
        margin-bottom: 5%;
    }
    .btn-time-btn{
        width: 40vh;
        height: 8vh;
        border-radius: 10px;
        font-size: 1.5rem;
    }
}