h1, h2 {
    font-family: 'DM Serif Display', serif;
}

p, h3 {
    font-family: 'Jost', sans-serif;
}


.title-services{
    display: flex;
    align-items: center;
    margin-top: 5vh;
    padding-left: 8vw;
    width: 100%;
    font-size: 2.5rem;
}

.img-service{
    border-radius: 0 15vh 0 0;
    width: 90vw;
    margin-bottom: 2vh;
    }

.section-services{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titleService{
    display: flex;
    justify-content: center;
    align-items: center;
    width:85vw;
}

.servicesArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6vh 0 6vh 0;
}

.serviceName{
    width: 70%;
    font-size: 2rem;
    color: #25357a;
}

.btn-circle{
    width: 30%;
    align-self: center;
}

.btn-arrow{
    border-radius: 5vh 5vh 5vh 5vh;
    border: 0;
}

.JorgeSection{
    background-color: #E9EAF1;
    width: 100%;
    display: flex;
    margin-bottom: 5vh;
    align-items: center;
    justify-content: center;
}

.jorgeSection_name{
    color: #25357a;
}

.jorgeSection_text{
    color: #25357a;
    padding: 3%;
}

.Jorge-4{
    width: 48vw;
    padding-top: 4%;
}

.JorgeArt{
    margin-top: 2vh;
}

.btn-bookApoinment{
    background-color: #25357a;
    color:#C8A75A;
    border: 0;
    width: 20vh;
    height: 5vh;
    border-radius: 10px;   
    font-size: 1rem; 
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn-bookApoinment:hover {
    background-color:#C8A75A;
    color:#25357a;
}



@media (width >= 750px){
    .img-service{
        border-radius: 0 20vh 0 0;
        width: 60vh;
    }
    .title-services{
        font-size: 3rem;
    }
    .titleService{
        width: 60vh;
    }

    .serviceName{
        font-size: 3rem;
    }
    .JorgeSection{
        width: 100%;
        margin-bottom: 5vh;
        padding-top:3vh;
    }
    .Jorge-4{
        width: 35vh;
        margin-left: 4%;

    }
    .JorgeArt{
        margin-right: 8%;
        margin-left: 4%;
    }
    .jorgeSection_name{
        color: #25357a;
        font-size: 3rem;
    }

    .jorgeSection_text{
        color: #25357a;
        font-size: 1.7rem;
    }

    .btn-bookApoinment{
        color:#C8A75A;
        background-color: #25357a;
        width: 30vw;
        height: 6vh;
        font-size: 1.5rem;
        border-radius: 10px;
        margin-top: 2vh;

    }

}