.btn-advisory{
    background-color: #C8A75A;
    border: 0;
    width: 42vw;
    height: 6vh;
    border-radius: 10px;
    color: #25357a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left: 2rem;
}
.arrow-btn1{
    margin-left: 0.2vw;
}

.btn-advisory:hover{
    background-color: #25357a;
    color:white;
    }


    @media (width >= 750px){
    .btn-advisory{
        font-size:1.7rem;
        height: 6vh;
        margin-top: 1vh;
    }
    .arrow-btn1{
        margin-left: 1vw;
    }

    }


