.blogDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    font-size: 1.2rem;
}

.titleBlogDetails{
    color: #C8A75A;
}

.blogDetailsImg{
    width: 50vh;
    margin-bottom: 3vh;
    object-fit: cover; 
    object-position: center;
}

.quill-container{
    padding: 5vh;
}