.blogDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3vh 3vh 3vh 3vh;
}

.titleBlogDetails{
    color: #C8A75A;
}

.blogDetailsImg{
    width: 30vh;
    margin-bottom: 3vh;
}