.btn-advisory{
    background-color: #C8A75A;
    border: 0;
    width: 42vw;
    height: 6vh;
    border-radius: 10px;
    color: #25357a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin-left:-1rem;
}
.arrow-btn1{
    margin-left: 0.2vw;
}

.btn-advisory:hover{
    background-color: #25357a;
    color:white;
    }

    @media(width <= 360px) {
        .btn-advisory{
            align-items:center;
            width: 13em;
            height: 5vh;
            font-size:0.7rem;
            margin-top: 2.5vh;
            margin-left: 0.5rem;
        }
        .arrow-btn1{
            margin-left: 1vw;
        }
    }   


    @media(width <= 375px) {
        .btn-advisory{
            width: 13em;
            height: 6vh;
            font-size:0.8rem;
            margin-top: 2.5vh;
            margin-left: 0.5rem;
            margin-right: 1rem;
        }
        .arrow-btn1{
            margin-left: 1vw;
        }
    }  



    @media(width >= 390px) {
        .btn-advisory{
            width: 12em;
            height: 6vh;
            font-size:0.9rem;
            margin-top: 1vh;
            padding: 0%;
            margin-left:1.5rem;
            margin-right: 1rem;

        }
        .arrow-btn1{
            margin-left: 1.5vw;
            padding: 0%;
        }
    }  



    @media (width >= 750px){
    .btn-advisory{
        font-size:1.3rem;
        width: 30vh;
        height: 5.5vh;
        margin-top: 2vh;
        margin-left: -1em;
    }
    .arrow-btn1{
        margin-left: 1vw;
    }
}


    @media (width >= 850px){
        .btn-advisory{
            font-size:1.3rem;
            width: 40vh;
            height: 7vh;
            margin-top: 2vh;
            margin-left: -4em;
        }
        .arrow-btn1{
            margin-left: 1vw;
        }
    }


    @media (width >= 1000px){
        .btn-advisory{
            font-size:1.5rem;
            height: 6vh;
            width: 50vh;
            margin-top: 1vh;
            margin-top: 2rem;
            margin-left: -10rem;
        }
        .arrow-btn1{
            margin-left: 1vw;
        }
    }
    

    @media (width >= 1600px){
        .btn-advisory{
            margin-left:-3em;
        }
        .arrow-btn1{
            margin-left: 1vw;
        }
    }


    @media (width >= 2000px){
        .btn-advisory{
            font-size:1.7rem;
            height: 6vh;
            width: 60vh;
            margin-left:-12em;
        }
        .arrow-btn1{
            margin-left: 1vw;
        }
    }