.datenschutz_policy{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color:  #25357a;
    line-height: 1.7rem;
    padding: 2em;
    font-size: 1.5rem;
}
.datenschutz_policy p{
    color: #3f3f3f;
    font-size: 0.7em;
}
.datenschutz_policy li{
    color: #3f3f3f;
    line-height: 1.5;
    font-size: 1rem;
}
.datenschutz_policy a{
    color:#25357a !important;
    font-size: 1rem;
    line-height: 1.5;
}

@media (width >= 1300px){
    .datenschutz_policy{
        padding: 4em;
    }
}