.btn-start{
    background-color: #C8A75A;
    border: 0;
    width: 20vh;
    height: 7.5vh;
    border-radius: 10px;
    color: #25357a;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
}

.btn-arrow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 6vh;
    height: 6vh;
    border-radius: 10vh 10vh 10vh 10vh;
    border: 0;
    color: #C8A75A;
}



