.btn-joinUp{
    background-color:#25357a;
    border: 0;
    width: 22vh;
    height: 5vh;
    border-radius: 10px;
    color:#C8A75A;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
}

.btn-joinUp:hover{
    background-color:#C8A75A;
    color:#25357a;


}

.btn-arrow3{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2vh;
    height: 6vh;
    margin-left: 3%;
    border-radius: 10vh 10vh 10vh 10vh;
    border: 0;
    color: #C8A75A;
}




