h1, h2 {
    font-family: 'DM Serif Display', serif;
}

p, h3 {
    font-family: 'Jost', sans-serif;
}



@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (-webkit-min-device-pixel-ratio: 3)
{

.we-section, .history{
    background-color: #E9EAF1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6vh;
    font-size: 1.3rem;
    line-height: 1.7em;
    text-align:left;
}

.Jorge-we{
    width: 45vh;
    border-radius: 0 15vh 0 13vh;
}

.section-figure{
    background-color: #25357a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


}

.figure-we{
    background-color: #E9EAF1;
    border-radius: 0 20vh 0 20vh;
    margin-top: -1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 46vh;
}

.span-we{
    color: #25357a;
    font-weight: bold;
}

.section-new-life{
    background-color: #C8A75A;
    padding: 3vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h6{
    margin: 0;
}
}