.impressum_policy{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    color:  #25357a;
    line-height: 1.7rem;
    padding: 4em;
    font-size: 1.5rem;
}

.impressum_policy a{
    color:#25357a !important;
    font-size: 1.5rem;
    line-height: 1.5;
}

.impressum_policy p{
    color: #3f3f3f;
    font-size: 1em;
}