.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 3em;
}


@media (width >= 360px){
    .login_container{
        padding: 4em;
    }
    .form_card{
        width: 40vh;
        height: 65vh;
        padding: 5%;
        border-radius: 4%;
    }
    .logo_pabe{
        margin-left: 5em;
    }
    .button-google{
        width: 32vh;
        font-size: 0.8rem !important;
    }
    .button-regular{
        width: 32vh;
    }
}



@media (width >= 390px){
    .login_container{
        padding: 2em;
    }
    .form_card{
        width: 45vh;
        height: 70vh;
        padding: 2%;
        border-radius: 5%;
    }
    .logo_pabe{
        margin-left: 6em;
    }
    .button-google{
        width: 36vh;
        font-size: 0.8rem !important;
    }
    .button-regular{
        width: 36vh;
    }
}



@media (width >= 750px){
    .login_container{
        padding: 5em;
    }
    .form_card{
        height: 60vh;
        padding: 6%;
    }
    .logo_pabe{
        margin-left: 11em;
    }
}



@media (width >= 1200px){
    .form_card{
        width: 55vh;
        height: 70vh;
        background-color: rgb(255, 255, 255);
        padding: 2%;
        margin: auto;
        border-radius: 5%;
        text-align: left;
        box-shadow: 0px 0px 15px 2px #c4c3c3;
    }
    
    .logo_pabe{
        width: 15vh;
        padding: 3%;
        margin-left: 8em;
        
    }
    
    .mb-3{
        color:#25357a;
    }
    .buttons-login{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .button-regular{
        width: 43vh;
        background-color:whitesmoke !important;
        border-color:#c4c3c3 !important;
        color:black !important;
    }
    .button-regular:hover{
        background-color:#25357a !important;
        color:whitesmoke !important;
    }
    
    .button-google{
        width: 43vh;
        background-color:#F2F2F2 !important;
        border-color:#c4c3c3 !important;
        color:black !important;
        margin-top: 8%;
    }
    .button-google:hover{
        background-color:white !important;
        color:black !important;
    }
    .logo_google{
        width: 30px;
        height: 30px;
        margin-right: 5%;
    }
    
    .forgot_pass{
        margin-bottom: 5%;
    }
    .text_pass{
        color:#c4c3c3 !important;
    }
    .text_pass :hover{
        color:#25357a !important;
    }
    
}


@media (width >= 1500px) {
    .logo_pabe{
        margin-left: 10em;
    }
}

