p{
    margin: 0 !important;
}

.pinedaFooter{
    background-color: #25357a;
    color: #bebec5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.logoPaberater{
    width: 65vw;
    padding: 8%;
    margin-bottom: 1rem;
}

.socialMediaFooter{
    padding-bottom: 8vh;
}

.infoFooter{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15%;
}

.infoFooter a{
    font-size: 1.3rem;
}

.IconsFooter{
    width: 4em;
    padding-right: 4vw;
}

.IconSocialFooter{
    width: 2.5em;
}

.IconSocialFooterYT{
    height: 2em;
    padding-left: 2em;
    padding-right: 2em;
}

.contactFooter{
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.paberater-rights{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#25357a;
    color: white;
}

.cookiesFooter{
    background-color: #16204D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh;
}

.contact_footer{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center ;
    background-color: #C8A75A;
    width: 100%;
    padding: 4%;
    position: sticky !important;
    bottom: 0 !important;
  
}

.icons_action{
    width: 8vw;
    color:#25357a
}

.groupPolitics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.5rem;
    background-color: #25357a;
}



@media (width >= 750px){

    .pinedaFooter{
        height: 25rem;
        display: flex;
        flex-direction: row;
    padding: 0 3%;
    align-content: center;
    }

    .logoPaberater{
    flex-direction: row;
    width: 35vw;
    }
    .icons_action{
        width: 6vh;
        color:#25357a
    }
    
    .groupPolitics{
        background-color: #25357a;
    }

    .socialMediaFooter{
        padding-bottom: 2vh;
    }

    .contactFooter {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
    padding-bottom: 0.5rem;
    padding-bottom: 2vh;
      }
      .paberater-rights {
        display: flex;
        justify-content: center;
        align-self: center;
        width: 100%;
      }
      .socialMediaFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 5rem;
        margin-top: 5rem;
      }
      .IconSocialFooter {
        margin: 25px;
      }
      .infoFooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1vh;
      }
      .IconsFooter {
        display: flex;
        align-items: center;
        width: 5rem;
      }
      .IconsFooterYT {
        height: 4vh;
        margin-top: -2vh;
      }
      .politics {
        display: flex;
        flex-direction: column;
        background-color: #25357a;
        color: white;
        align-items: end;
      }
      .groupPolitics {
        display: flex;
        flex-direction: row;
        align-items: end;
        justify-content: end;
        margin-left: 45%;
      }
      .paberater-rights {
        display: flex;
        justify-content: end;
        margin-right: 5rem;
      }
      .pol {
        margin: 0 0.5rem;
      }
      .contact_footer {
        padding: 1rem 5rem;
        position: sticky !important;
        bottom: 0 !important;
      }

      .icons_action{
        width: 6vw;
        color:#25357a
    }
    }

@media (width >= 1000px) {

    .contact_footer{
      display: none;
    }

    .pinedaFooter {
      height: 40vh;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-bottom: 0.5rem;
    }
    .logoPaberater {
      min-width: 50vh;
      margin-bottom: 0;
      margin-top: 2rem;
    }
    .socialMediaFooter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-right: 5rem;
      margin-top: 5rem;
    }
    .IconSocialFooter {
      margin: 25px;
    }
    .contactFooter {
      display: flex;
      flex-direction: column;
      justify-content: start;
    }
    .infoFooter {
      display: flex;
      flex-direction: row;
      padding: 0.5rem;
    }
    .politics {
      display: flex;
      flex-direction: column;
      background-color: #25357a;
      color: white;
      align-items: end;
    }
    .groupPolitics {
      display: flex;
      flex-direction: row;
      align-items: end;
      justify-content: end;
      margin-right: 3rem;
    }
  
    .paberater-rights {
      display: flex;
      justify-content: end;
      margin-right: 10rem;
    }
    .pol {
      margin: 0 0.5rem;
    }
    .IconsFooter {
      width: 12vh;
    }
    .contact_footer {
      padding: 1rem 5rem;
    }
  }
  
