*{
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

p, h3 {
  font-family: 'Jost', sans-serif;
}

svg{
  padding: 0;
  margin: 0;
}

.first-arrow{
  margin-left: 20%;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}

.container-img{
  display: flex;
  justify-content: center;
  margin-left: -45vw;
  position: relative;
  margin-top: -12vh;
}

.jorge-img2{
  width: 29vh;
  position: absolute;
  margin-top: -20%;
  display: flex;
}

.container_background_img{
  height: 42vh;
}

.home_background{
  display: flex;
  width: 98vw;
  height: 62vh;
}

.question-home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  
}

.titleWeDo{
  color: #FEEC8A;
  font-size: 5vh;
}

.titleStep{
  color: #C8A75A;
  font-size: 4vh;
}

.Asesoramos, .Gestionamos{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 70%;
  font-size: 1.2rem;
  margin-left: 5vh;
}

.Acompañamos {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: end;
  color: white;
  margin-left: 10vh;
  margin-right: 5vh;
  font-size: 1.2rem;
}

.what-do-we-do{
  background-color: #25357a;
}

.resaltar {
  color: #25357a;
}

.pequena {
  font-size: 1.2rem;
}

.init-section{
  display: flex;
  align-items: flex-start;
  text-align:right;
  justify-content: center;
  position: relative;
}

.title-init{
  font-size: 1.3rem;
}

.div-init{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 18vh;
  margin-top: 5vh;
}

.jorge5{
  width: 46vh;
}

.talent-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-talent{
  background-color: #E9EAF1;
  height: 40vh;
  margin-top: 5vh;
  border-radius: 0 15vh 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.talent-text{
  display: flex;
  flex-direction: column;
  background-color:#25357a;
  color: #FEEC8A;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4vh;
}

.talent_title{
  font-size: 1.3rem;
  padding-top: 5%;
  padding-bottom: 5%;
}



@media (width >= 750px) {

  .div-init{
    margin-left: 35vw;
    margin-top: 5vh;
    align-items:end;
  }
  .title-init{
    font-size: 3rem;
  }

  .pequena {
    font-size: 2rem;
  }

  .container-img{
    margin-top: -2vh;
  }

  .jorge-img2{
    width: 45vh;
    margin-top: -44vh;
    margin-right:4vh ;
  }

  .home_background{
    display: flex;
    height: 52vh;
    z-index: -5;
  }

  .figure-talent{
    height: 62.5vh;
  }
  
  .talent_title{
    font-size: 2.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .roadMapHome{
    margin-left: 10rem;
    margin-right: 10rem;
  }
}
