*{
  margin: 0;
  padding: 0;
}

svg{
  padding: 0;
  margin: 0;
}

.first-arrow{
  margin-left: 10vh;
}


.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}

.question-home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
}

.titleWeDo{
  color: #FEEC8A;
}

.titleStep{
  color: #C8A75A;
}

.Asesoramos, .Gestionamos{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 70%;
  font-size: 0.9rem;
  margin-left: 5vh;
}


.Acompañamos {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: end;
  color: white;
  margin-left: 10vh;
  margin-right: 5vh;
  font-size: 0.9rem;
}





.what-do-we-do{
  background-color: #25357a;
}

.resaltar {
  color: #25357a;
}

.pequena {
  font-size: 1.14rem;
}

.init-section{
  display: flex;
  align-items: flex-start;
  text-align:right;
  justify-content: center;

}

.title-init{
  display: flex;
  flex-direction: column;
  font-size: 1.6rem;
}

.div-init{
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15vh;
}

.container-img{
  display: flex;
  margin-top: -20vh;
}

.jorge-img2{
  width: 25vh;
  display: flex;
  margin: 0;
}

.jorge5{
  width: 45vh;
}
.talent{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.figure{
  background-color: #E9EAF1;
  margin-top: 5vh;
  border-radius: 0 15vh 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

