*{
  margin: 0;
  padding: 0;
}

h1, h2 {
  font-family: 'DM Serif Display', serif;
}

p, h3 {
  font-family: 'Jost', sans-serif;
}

svg{
  padding: 0;
  margin: 0;
}

.first-arrow{
  margin-left: 20%;
}

.container-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.9rem;
}

.container-img{
  display: flex;
  justify-content: center;
  margin-left: -45vw;
  position: relative;
  margin-top: -12vh;
}

.jorge-img2{
  width: 15vh;
}

.container_background_img{
  position: absolute;
  height: 5vh;
  z-index: +5 ;
}

.home_background{
  position:absolute;
  width: 100vw;
  margin-top: -11rem;
  z-index: 5;
}

.question-home{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5vh;
  
}

.titleWeDo{
  color: #FEEC8A;
  font-size: 5vh;
}

.titleStep{
  color: #C8A75A;
  font-size: 4vh;
}

.Asesoramos, .Gestionamos{
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  width: 70%;
  font-size: 1.2rem;
  margin-left: 5vh;
}

.Acompañamos {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: end;
  text-align: end;
  color: white;
  margin-left: 10vh;
  margin-right: 5vh;
  font-size: 1.2rem;
}

.what-do-we-do{
  background-color: #25357a;
}

.resaltar {
  color: #25357a;
}

.pequena {
  font-size: 1.2rem;
}

.init-section{
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
 
}

.title-init{

  font-size: 1.3rem;
  text-align:right;
}

.div-init{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 5rem;
  padding: 0 1rem;
}

.talent-home{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.figure-talent{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E9EAF1;
    width: 20rem;
    height: 50vh;
    margin-top: 3rem;
  border-radius: 0 15vh 0 0;
}

.jorge5{
  width: 20vh;
 height: 50vh;
}




.talent-text{
  display: flex;
  flex-direction: column;
  background-color:#25357a;
  color: #FEEC8A;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4vh;
}

.talent_title{
  font-size: 1.3rem;
  padding-top: 5%;
  padding-bottom: 5%;
}





@media (width >= 750px) {

  .div-init{

    align-items:center;
    margin-top: 0;
  }

  .init-section{
    margin-left: 3rem;
  }
  .title-init{
    font-size: 3rem;
  }

  .pequena {
    font-size: 2rem;
  }

  .container-img{
    margin-top: -2vh;
  }

  .jorge-img2{
    width: 26vh;
    margin-top: 2vh;
  }

  .home_background{
    position:absolute;
    width: 100vw;
    margin-top: -22rem;
    z-index: 5;
  }

  .figure-talent{
    width: 60vh;
    height: 50vh;
  }
  .jorge5{
    height: 60vh;
  }
  
  .talent_title{
    font-size: 2.5rem;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .roadMapHome{
    margin-left: 10rem;
    margin-right: 10rem;
  }
  .btn-advisory{
    max-width: 20rem;
  }
}


@media (width >= 1000px) {


  .figure-talent{
    width: 60vh;
    height: 50vh;
  }
  .jorge5{
    height: 60vh;
  }
  .home_background{
    position:absolute;
    display: block;
    justify-content: center;
    width: 100vw;
    margin-top: -29rem;
    z-index: 5;
  }
}

@media (width >= 1100px){

  .figure-talent{
    width: 60vh;
    height: 50vh;
  }
  .jorge5{
    min-width: 60vh;
  }
}
